/* =========================================
   FIXED NAVBAR CONTENT OFFSET
========================================= */

.app {
  padding-top: 110px;
}

/* Mobile */
@media (max-width: 760px) {
  .app {
    padding-top: 145px;
  }
}

/* Small mobile */
@media (max-width: 430px) {
  .app {
    padding-top: 145px;
  }
}